<header>
  <h1>About</h1>
  <h3>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore, quo, iure placeat ratione facilis aperiam
numquam aspernatur totam eos et officia non dolorem eius ipsum voluptatibus. Deleniti, laborum nesciunt.lo

Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore, quo, iure placeat ratione facilis aperiam
numquam aspernatur totam eos et officia non dolorem eius ipsum voluptatibus. Deleniti, laborum nesciunt.lo

  </h3>
</header>
<div id="content">
  <p>Hover over the images to see the effect</p>
  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="../../assets/imge2/pexels-photo-2182977.webp" alt="" srcset="">
        <p class="caption">John Doe</p>
          <p class="caption">CEO & Founder</p>
      </div>
      <div class="back">
        <a mat-raised-button href="https://www.google.com/" target="_blank">
          link
        </a>
        <p class="date">23/07/1997</p>
        <p class="description">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src="../../assets/imge2/pexels-photo-1438075.jpeg" alt="">
        <p class="caption">mike Jane</p>
<p class="caption">Architect  </p>
      </div>
      <div class="back">
      <a mat-raised-button href="https://www.google.com/" target="_blank">
          link
        </a>
        <p class="date">14/07/2001</p>
        <p class="description">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flipper">
      <div class="front">
     <img src="../../assets/imge2/pexels-photo-936564.webp" alt="" srcset="">
        <p class="caption"> Dan Star  </p>
          <p class="caption"> Architect   </p>
      </div>
      <div class="back">
        <a mat-raised-button href="https://www.google.com/" target="_blank">
          link
        </a>
        <p class="date">06/08/2004</p>
        <p class="description">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.    </p>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="flipper">
      <div class="front">
      <img src="../../assets/imge2/pexels-photo-3206078.webp" alt="" srcset="">
        <p class="caption">Dan Star  </p>
  <p class="caption">Architect </p>
      </div>
      <div class="back">
        <a mat-raised-button href="https://www.google.com/" target="_blank">
          link
        </a>
        <p class="date">06/08/2004</p>
        <p class="description">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      </div>
    </div>
  </div>







</div>
