
<div class="untitled">
  <div class="untitled__slides">


    <div class="untitled__slide">
      <div class="untitled__slideBg"></div>
      <div class="untitled__slideContent">
        <span>London</span>
        <span>Scout</span>
        
      </div>
    </div>


    <div class="untitled__slide">
      <div class="untitled__slideBg"></div>
      <div class="untitled__slideContent">
        <span>BR</span>
        <span>Architects</span>

      </div>
    </div>


    <div class="untitled__slide">
      <div class="untitled__slideBg"></div>
      <div class="untitled__slideContent">
        <span>Macio</span>
        <span>Amorim</span>

      </div>
    </div>


    <div class="untitled__slide">
      <div class="untitled__slideBg"></div>
      <div class="untitled__slideContent">
        <span>Mario</span>
        <span>Calvo</span>

      </div>
    </div>


  </div>
  <div class="untitled__shutters"></div>
</div>
